body {
    margin: 0px;
    padding: 0px;
    background-image: url(../img/wood_back.png);
}

.container {
    font-family: sans-serif;
    margin-left: 90px;
    margin-right: 90px;
}

.header {
    background-color: white;
    height: 120px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.header_top {
    height: 85px;
}

.logo {
    width: 30%;
    padding: 13px 15px;
    float: left;
}

.logo_center {
    width: 33%;
    padding-top: 30px;
    float: left;
}

.logo_right {
    width: 33%;
    float: right;
    height: 70px;
}

.top_right {
    color: #274e37;
    padding-left: 185px;
    padding-right: -42px;
    font-size: 14px;
    font-weight: 600;
}

.top_right_anchr {
    text-decoration: none;
    color: #274e37;
}

.topul {
    padding-left: 140px;
    padding-top: -9px;
    font-weight: 600;
    font-size: 14px;
    margin-top: -13px;
}

li {
    display: inline-flex;
    color: #8c605e;
}

.list_anchr {
    text-decoration: underline;
    color: #8c605e;
}

.input {
    margin-top: -10px;
    padding-left: 110px;
}

.btn {
    background-color: #8c605e;
    color: white;
    height: 25px;
    font-size: 15px;
    border: 1px solid #8c605e;
}

.search {
    border: 1px solid lightgrey;
    height: 25px;
    width: 215px;
}

::placeholder {
    color: black;
    font-size: 15px;
}

.header_bottom {
    height: 33px;
    background-color: #8c605e;
    border: 1px solid white;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.menu {
    margin-top: 9px;
    font-weight: 600;
}

.menu li {
    color: white;
    display: inline;
    padding-left: 10px;
    padding-right: 10px;
}

a {
    text-decoration: none;
    color: white;
}

.verti {}

.phone {
    float: right;
    font-size: 18px;
}

.banner {
    background-color: white;
    border-radius: 10px;
    height: 700px;
    margin-top: 15px;
}

.banner_right {
    width: 20%;
    float: left;
    /* background-color: royalblue; */
    /* height: 20px; */
}

.banner_left {
    width: 80%;
    /* height: 100px; */
    float: left;
    /* background-color: red; */
}

.main_banner {
    width: 77%;
    /* height: 70px; */
    padding-top: 1px;
    padding-left: 5px;
}

.banner_img {
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    width: 129%;
    height: 400px;
    position: relative;
}

.bt_left {
    background-color: #ffffff99;
    position: absolute;
    padding: 2px 10px;
    bottom: -124px;
    border-bottom-left-radius: 10px;
}

.arrow {
    padding-bottom: 2px;
}

.bt_right {
    background-color: #ffffff99;
    position: absolute;
    padding: 0px 15px;
    bottom: -105px;
    right: 105px;
    width: 25%;
    height: 130px;
}

.bt_right p {
    font-size: 32px;
    margin-top: 7px;
    text-align: right;
}

.num {
    color: #928c86;
}

.botm {
    padding-left: 10px;
    padding-right: 10px;
    font-weight: 600;
}

.right1 {
    border: 1px solid #8c605e;
    height: 270px;
    background: #e8e8e8;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    width: 93%;
}

.product {
    background-color: #8c605e;
    position: relative;
    padding-left: 6px;
    padding-top: 6px;
    height: 20px;
}

.prod_txt {
    margin-top: 0px;
}

.prod {
    margin-left: 20px;
    margin-bottom: -10px;
    font-size: 15px;
}

.prod a {
    color: black;
}

.dwn_img {
    margin-top: 30px;
    margin-left: 10px;
}

.right2 {
    border: 1px solid #8c605e;
    height: 188px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    position: relative;
    background: no-repeat;
    width: 93%;
    background-image: url('../img/women.png');
}

.need {
    background-color: #ffffff99;
    position: relative;
    height: 22px;
    padding-left: 6px;
    padding-top: 6px;
}

.call {
    background-color: #ffffff99;
    position: relative;
    height: 23px;
    margin-top: 133px;
    padding-left: 10px;
    padding-top: 5px;
}

.call_num {
    font-size: 18px;
    font-weight: 100;
}

.number {
    font-size: 18px;
    font-weight: 600;
}